/* Bold font weight*/
    .bold
    {
    
     font-weight:bold;

    }

/* Italics font style*/
    .italics
    {
    
     font-style: italic;
        
    }

/* h1 formating dark blue*/
    h1
    {
     right 10%;
     font-variant: small-caps;
     color: #00008b;
     text-align: center;

    }

/*div border and background*/
    div
    {

     border:1px dashed #00008b;
     border-radius: 15px;
     background-color: #eeeeee;
     width:650px
     margin-top: 25px;
     margin-bottom: 25px;
     margin-left: 20px;
     margin-right: 20px;
     padding: 15px;

    }

/* sidenav */
.sidenav
    {
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
    }

    .sidenav a
    {
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
    }

    .sidenav a:hover
    {
    color:#f1f1f1;
    }


    .sidenavv .closebtn
    {
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
    }

    @media screen and (max-height:450px)
    {
     .sidenav {padding-top:15px;}
     .sidenav a {font-size:18px;}




/* p font family arial sans-serif*/
    p
    {

     font-family:'arial',sans-serif;

    }

/* img padding */
    img
    {

     padding:15px;

    }

/* img of me format */
    img#img_me
    {

     float:left;

    }

/*blockquote calibri sans-serif*/
    blockquote
    {
    
     font-family:'calibri',sans-serif;

    }


/* a font arial sans-serif*/
    a
    {

     font-family: 'arial', sans-serif;
     color:#8b0000;
     text-decoration:none;

    }

/* a link bolded*/
    a:link
    {

     font-weight:bold;

    }

/* a hover background red text grey*/
    a:hover
    {

     background-color:#8b0000;
     color:#eeeeee

    }

/* daily format */
    div#daily
    {

     width:600px;
     border-spacing:1px;
     background-colorL#191970;
    
    }

/* table remove embedded css*/
    table
    {

     border:1px;
     
    }

/* .course background */
    .course
    {

     background-color:#6666ff;

    }

/* .work background grey */
    .work
    {

     background-color:#dcdcdc;

    }


/*tr text alignment background color */
    tr
    {

     text-align:center;
     background-color:#d3d3d3;

    }

/*td removing width attributes */
    td
    {

     width:100px;

    }

/* th width 100px */
    th
    {

     width:100px;

    }

/*tr hover background and text color */
    tr:hover
    {

     background-color:#121312;
     color:#fff;

    }

/* td hover background and text color */
    td:hover
    {

     background-color#red;
     color:#fff;

    }

/* th hover background and text color */
    th:hover
    {

     background-color#red;
     color:#fff;

    }

/* h2 heading sizing */
    h2
    {

     text-align:center;
     color:#00008b;

    }

/* hr width and color */
    hr
    {

     width:75%;
     color:#00008b;

    }



/*webpage format */
    body 
    {

     background-color:black;

    }

